<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.baseballmanagement.team.service.impl.TeamDAO">

    <insert id="insert" useGeneratedKeys="true" keyProperty="teamId">
        INSERT INTO team (name, stadium_id, created_at)
        VALUES (#{name}, #{stadiumId}, now())
    </insert>

    <select id="findAll" resultType="com.fastcampus.baseballmanagement.team.dto.Team">
        SELECT team_id, stadium_id, name, created_at
        FROM team
    </select>

</mapper>